{# empty Twig template #}
{% block nav %}
    <div class="row">
        &nbsp;
    </div>
    <div class="container">
        <div class="row white-text" id="nav">
            <div id="settings" >
                <a href="" class="blue-text btn-floating btn-large waves-effect waves-light orange"> <i class="medium material-icons">dashboard</i> </a> 
            </div>
            <div id="description">  
                <a href="{{  url('details_page') }}" class="white-text btn-floating btn-large waves-effect waves-light blue">  <i class="medium material-icons">work</i></a> 
            </div>
            <div id="contact">  
                <a href="{{ url('contact_page') }}" class="white-text btn-floating btn-large waves-effect waves-light red">  <i class="medium material-icons">phone</i> </a> 
            </div>
            <div id="info">  
                <a href="{{ url('project_page') }}" class="white-text btn-floating btn-large waves-effect waves-light green">  <i class="medium material-icons">build</i> </a> 
            </div>
        </div>
    </div>
{% endblock nav %}   

  