{% extends "content.html.twig" %}

{% block content %}
    <h5 class="center-align">Profissional Details</h5>
    <div>
        <p> 
        <h6> Lightspeed / Kantar </h6>
        <strong><i>Senior Web Developer/ Global Portal Management</i></strong>
        </br>
        hands on  front-end and back development, developed secure web applications and back-end database to automate business process.
        Looking after various application in PHP and Coldfusion. Familiar with Agile environment concept and Scrum.
        <br/>
        <i> <b> CMS </b> </i>: Wordpress, Sonata <br/>
        <i> <b> Frameworks</b></i> : codeigniter, Symfony2/3, Zend<br/> 
        <i> <b> Front-end</b></i>: CSS/3 , JS/jQuery, Photoshop and Illustrator, HTML / HTML5 <br/>
        <i> <b>Version Control</b></i>:  GIT and SVN
    </p>
    <div class="divider"></div>
    <p>
    <h6> Direct Offers UK LTDA
        </br>
        November 2010 – October 2013
    </h6>

    <strong> IT Manager / FullStack Developer </strong> 
    </br>
    Manage and Supervising System integration in PHP and Java to download orders from Amazon, EBay, Play and Price Minister<br/>
    Participating in many differents on Project to integrations Internal system with the warehouse, shipping the orders. <br/>
    Developed inHouse Applications and Manage prices an stoke <br/>
    Developer inHouse Application to check price against cheapest seller on EBay
    , Amazon and Play, also this InHouse system has helped the company buy new stock and be well known us the cheapest seller of DVD and Blue ray in the internet. <br/>
    Built Direct Offers E-commerce website using OpenCart Framework (PHP) and developed some customizations to achieve the company request and working with the Financial team to developed features to reach EU vat law and World wide trade rules. Also Manage and Supervise an external IT company to manage the Network infrastructure, Servers maintenance, Active Direct to manage users and Mailbox integrate with Exchange. Helped the company save about £20k year in IT equipment and suppliers. Integrating Google analytics with E-commerce platform, Google shopping merchant feed, good knowledge in Google tool. Able to develop and creating App to integrate with Facebook.
</p>
<div class="divider"></div>
<p>

    <h6> Eicon Controles Inteligentes<br/>
    April 2009 – May 2010
    </h6>
    <br/>
    <i><b> ColdFusion developer </b></i>: helping the team to improve SLA standard. Developed backend system according to company requirement and upgrade old part of the core system from Asp to ColdFusion, creating reports using Oracle 9g, Help developed a java integration using EJB and birt plugging from Eclipse, this report similar to Crystal report. This help customer see a much better picture and clean report and this gave a better user friendly feedback.
</p>
<p>
<div class="divider"></div>
<h6>
    Unione Consulting
<br/>
    March 2007 – March 2009
</h6>
   
<i> <b> IT Consulting </b> </i> : Project Development at VETCO Gray RH System Development: 1 year project , responsible to develop a new solution and Control and manage staff holidays, management control and Central budget control. System was developed in ColdFusion. <br/> 
<b> Flextronics</b> 6 month project Part of a team of 20 people to develop and do the analysis and the System integration, Analysis Stock Management and Analysis, BAAN ERP consult in warehouse and stock model and to hand ove the project build and Training the end users to use the system.<br/> 
<b> Valeo System </b> 1 year project SAP MM Analyst at Valeo light Systems, Generating reports for Stock Management and Helping on Manufacturing stock control, doing cyclical count, Stock Management, using methodology FIFO and LIFO, responsible and part of the team doing annual inventories and month inventories. + Cyclical count management 
 
</p>
</div>

{% endblock content %}
