{% extends "content.html.twig" %}

{% block content %}
    <h5 class="center-align">Rodrigo Manara</h5>
    <p>
        <strong> FullStack Web Developer:</strong> 
        Creative and self-taught, happy and very curious by the way! <br/>
        He loves music and cinema, great on cooking says his wife and he loves play video game with his son. Origionally from Brazil but lives in UK more or less  17 years.
    </p>
    <p>He loves tecnology and his started work with computers in 2000 by working on fixing desktops and setup OS.  </p>

    <p> He has more than 10 years experience on web development and design.</p> 
    <p>Studied Graphic Design and certifided AS , High National Graphic Design Excel and High National Graphic Design Certificate excel with double merits between  2002 and 2004 at South Thames College</p>
{% endblock content %}
