{% extends "content.html.twig" %}

{% block content %}

    <h5 class="center-align">Projects</h5>
    <div>
        <p> 
        <h6> Wordpress Plugin </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Develped this plugin to do a search on ration area using mysql and php, I have integrated Composer into wordpress plugin and added twig to render the template 
        Wordpress Plugin <br/>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://wordpress.org/plugins/manara-business-locator/" target="_blank">  Wordpress plugins repository </a>
        </span>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://github.com/rodrigomanara/manara_business_locator" target="_blank">  GITHUB </a>
        </span>

    </p>
    <div class="divider"></div>
    <div>
        <p> 
        <h6> OpenCart Extension / Shipping by Subtotal</h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Extension create to calculate the shipping depending on the total of products in the cart, this will vary the value of the shipping
        <br/>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=12200" target="_blank"> OpenCart </a>
        </span>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://github.com/rodrigomanara/shippingByValue" target="_blank">  GITHUB </a>
        </span>

        </p>
    </div>    
    <div class="divider"></div>
    <div>
        <p> 
        <h6> OpenCart Theme </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Theme in purple, just a simple variation from the default opencart layout
        <br/>
     
         <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=13558&filter_member=rodrigomanara" target="_blank"> OpenCart </a>
        </span>
         
        </p>
    </div>
    <div class="divider"></div>
    <h5> Free Lancer</h5>
    <div>
        <p> 
        <h6> OpenCart Project / Moda Giovanna </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Opencart Shop, using version 2.1, customized the theme also designed the logo.
        <br/>

        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="https://moda-giovanna.com.br/" target="_blank">  Moda Giovanna</a>
        </span>
        <br/>
        </p>
        <div class="divider"></div>

    </div>

    <div class="divider"></div>
    <div>
        <p> 
        <h6> Wordpress Project/ PR Clinic </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Site built wordpress, custom pluggin using bootstrap theme design, also desinged the logo
        <br/>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="http://prclinic.co.uk/" target="_blank">  PRCLINIC </a>
        </span>

        <br/>
        </p>
        <div class="divider"></div>

    </div>

    <div>
        <p> 
        <h6> Wordpress Project / ERBeauty </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Site built wordpress , designed the theme , website build in 2012
        <br/>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="http://erbeauty.co.uk/" target="_blank">  ER Beauty </a>
        </span>

        <br/>
        </p>
        <div class="divider"></div>

    </div>
    <div class="divider"></div>
    <div>
        <p> 
        <h6> Wordpress Project / Ninaknow </h6>
        <strong><i>is written in PHP</i></strong>
        </br>
        Site built in 2012 in wordpress, the first build was in pure css then it was rebuild in 2014 using Boostrap plus added few new  pluggin, also desinged the logo
        <br/>
        <span>
            <i>   <b>   Site Address  </b> </i>: <a href="http://ninaknow.co.uk/" target="_blank">  Ninaknow</a>
        </span>

        <br/>
        </p>


    </div>









{% endblock content %}
